<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<!--<section name="monorail" type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework" />-->
		<section name="aspview" type="Castle.MonoRail.Views.AspView.AspViewConfigurationSection, Castle.MonoRail.Views.AspView" />
	</configSections>

	<!-- plain ol' ASP.NET -->
	<appSettings />
	<connectionStrings />

	<system.web>
		<customErrors mode="Off"></customErrors>
	</system.web>
	
	<!--<monorail>
		<controllers>
			--><!-- where to look for controllers and view components --><!--
			<assembly>KenEgozi.Demos.MR.Web</assembly>
		</controllers>
		<viewEngine viewPathRoot="Views" customEngine="Castle.MonoRail.Views.AspView.AspViewEngine, Castle.MonoRail.Views.AspView" />
	</monorail>-->
	
	<aspview saveFiles="false" debug="false" autoRecompilation="true">
		<!-- assemblies needed for the views -->
		<reference assembly="KenEgozi.Demos.MR.Web.dll" />
	</aspview>
	
	<!-- IIS 7 mambo jambo -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<clear />
			<add name="StaticFile" path="*.*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
			<add name="Monorail" path="*" verb="*" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" preCondition="integratedMode,runtimeVersionv2.0" />
		</handlers>
	</system.webServer>
</configuration>
